<div class="container" class="p-3">
  <h1>Stupid Coaching</h1>
    <p><%= @question %></p>
    <p>-You</p>

    <p><strong><%= @answer %></strong></p>
    <p>-Your coach</p>

  <%= link_to "Ask a new question", ask_path %>
</div>
